<br>
<div class="centro">
    <div class="card w-50">
        <div class="card-body"><p>
            Si effetuano lezioni private e ripetizioni di matematica e fisica per studenti di scuola media, superiori ed università.
            Materie: matematica, algebra, geometria analitica, geometria solida, trigonometria, analisi, fisica.
            Per qualsiasi informazione contattare il dott. Vincenzo Martiniello</p>
        </div>
    </div>    
</div>
<br>
<div class="centro">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/matematica1.jpg" class="d-block w-100" alt="..." >
      </div>
      <div class="carousel-item">
        <img src="assets/images/matematica3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/matematica2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/matematica4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="centro">
<div class="box" style='margin-right:40px;'>
  <br>
  Prepariamo i vostri figli ad affrontare al meglio<br><br>
  Scuola Media, Scuola Superiore<br><br>
  Recupero Debiti scolastici
</div>
<div class="box">
  <br>
  Didattica Online per le lezioni<br><br>
  Ragazzi seguiti anche da casa<br><br>
  Assistenza totale sulla didattica online
</div>
</div>
<br>
<br>
<br>
<br>