<br>
<div class="centro">
<div class="card w-75">
    <div class="card-body">
<h4>Dott. Vincenzo Martiniello</h4>
<p>Sono nato il 29/05/1979, laureato in matematica all'università degli studi di Napoli Federico II con 110/110 e lode.
   Faccio lezioni private in matematica e fisica dal 2012 per studenti di scuola media, superiori ed universitari.</p>
</div>
</div>
<br>
<div>
    <img src="assets/images/image0.jpg" class="img-fluid rounded-start" alt="..." style="width: 10rem;">  
</div>
</div>
<br>
<div class="container" class="centro" >
    <h6>Clicca qui per vedere il mio cv completo. </h6>
</div>
<div class="centro">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-file-person" style="color:white;"></i> Cv</button>
</div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Cv Vincenzo Martiniello</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Vincenzo Martiniello<br>
            Matematico<br><br>

            Gricignano di Aversa, Campania 81030<br>
            vincenzo.martiniello@yahoo.it<br>
            +39 338 269 3408<br><br>

            Laurea von voto 110 e lode<br>
            Sono disponibile a trasferirmi: Ovunque<br><br>

            Dettagli personali<br>
            Appartenente alle Categorie Protette: No<br>
            Data di nascita: 1979-05-29<br>
            Idoneo a lavorare in Italia: Sì<br>
            Livello di istruzione più elevato: Laurea triennale<br>
            Patente di guida: B<br><br>
            
            Esperienza lavorativa<br>
            Tutor di matematica<br>
            Libero Professionista - Gricignano di Aversa, Campania<br>
            settembre 2012 a oggi<br><br>

            Application developer<br>
            Atos - Napoli Centro Direzionale, Campania<br>
            febbraio 2023 a agosto 2023<br>
            Stage<br><br>

            Rider<br>
            Pizzeria privata - Aversa, Campania<br>
            dicembre 2022 a marzo 2023<br>
            Weekend<br><br>

            Assistente fotografo<br>
            Libero Professionista - Gricignano di Aversa, Campania<br>
            gennaio 2010 a dicembre 2011<br><br>

            operaio edile<br>
            Familiare<br>
            settembre 2001 a agosto 2002<br>
            operaio edile<br>
            Familiare<br>
            agosto 1999 a agosto 2000<br><br>

            Istruzione e Formazione<br>
            Laurea triennale in matematica<br>
            Federico II - Napoli, Campania<br>
            dicembre 2020<br><br>

            Liceo scientifico<br>
            Enrico Fermi - Aversa, Campania<br><br>

            Competenze<br>
            • Fortran (1 anno)<br>
            • Matlab,mathematica,latex (Meno di 1 anno)<br>
            • Word, powerpoint<br>
            • Html5,css2,notepad++,visual studio code, bootstrap, javascript, angular, typescript (Meno di 1 anno)<br>
            • Internet,posta elettronica,sicurezza informatica<br>
            • Access,sql,postgresql (Meno di 1 anno)<br>
            • Google drive, onedrive, google meet, microsoft teams, zoom,webex<br>
            • Matematica, fisica, lezioni private<br>
            • Windows,unix,prompt dei comandi<br>
            • Pascal,C/C++ (Meno di 1 anno)<br>
            • Excel standard, analisi dati, excel avanzato, power query, power pivot, power bi, dax, vba, statistica<br>
            descrittiva, statistica inferenziale, statistica con excel (Meno di 1 anno)<br>
            • Adobe illustrator, adobe xd, canva (Meno di 1 anno)<br>
            • Java, eclipse,hibernate, jpa, apache tomcat, servizi rest, jersey, maven, servlet, jsp, junit, spring<br>
            boot, git, myeclipse (Meno di 1 anno)<br><br>

            Lingue<br>
            • Inglese - Intermedio<br>
            • Italiano - Madrelingua<br><br>

            Siti Web e Social<br>
            https://www.facebook.com/vincenzo.martiniello.18<br><br>

            Servizio militare/civile<br>
            Arma/Campo: Fanteria<br>
            Nazione in cui si è prestato servizio: Italia<br>
            Grado/Posizione: Soldato<br>
            2000 a 2001<br><br>

            Certificazioni e licenze<br>
            English 1L,English 2L<br>
            2000 a oggi<br>
            Due corsi di inglese della durata totale <br>
            di 100 ore, con relativo rilascio di certificazione, effettuati durante il servizio militare.<br><br>

            Addestramento professionale per la dattilografia<br>
            gennaio 2021 a oggi<br>
            Corso di 200 ore con rilascio di attestato dopo aver superato gli esami previsti.<br><br>

            ICDL full standard<br>
            febbraio 2021 a febbraio 2026<br>
            Attestato di patente europea del computer ottenuto dopo aver superato gli esami corrispondenti ai 7<br>
            moduli previsti.<br><br>

            Java programmer<br>
            aprile 2022 a oggi<br>
            Corso online, con rilascio di certificazione, della durata di 160 ore organizzato dal fondo Formatemp e<br>
            gestito da Egeria Formazione Aversa.<br><br>

            Data analyst<br>
            ottobre 2022 a oggi<br>
            Corso online, con rilascio di certificazione, della durata di 160 ore organizzato dal fondo Formatemp e<br>
            gestito da First Consulting Milano.<br><br>

            Attestato di partecipazione alla job call<br>
            dicembre 2022 a oggi<br>
            Idea presentata per la posizione di data analyst presso just knock srl Milano<br><br>

            Informazioni addizionali<br>
            Erasmus Rouen France<br><br>

            Autorizzo il trattamento dei miei dati personali ai sensi dell'art. 13 D.Lgs. 30 giugno 2003 n. 196 e<br>
            dell'art. 13 del Regolamento (UE) 2016/679. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
