<br>
<div class="centro">
  <div class="card" style="width: 16rem">
    <div class="card-body">
     <div class="row g-3">    
  <div class="col-5">
    <label for="inputName" class="form-label">whatsapp</label><br>
      <a href="https://wa.me/393382693408">
          <i class="bi bi-whatsapp" style="font-size: 30px;color:rgb(54, 219, 84);"></i>
      </a>
  </div>
<div class="col-4">
    <label for="inputName" class="form-label">telefono</label><br>
      <a href="tel:+393382693408">
          <i class="bi bi-telephone" style="font-size: 30px;color:blue" ></i>
      </a>
</div>
<div class="col-3">
  <label for="inputName" class="form-label">email</label><br>
    <a href= "mailto:martiniellovincenzo45@gmail.com">
        <i class="bi bi-envelope" style="font-size: 30px;color:rgb(62,169,245);"></i>
    </a>
</div>
</div> 

</div>
</div>
</div>
<br>
<div class="container" class="centro">
    <h5>Compila il form ed invia i dati per essere ricontattato</h5>
</div><br>
<div class="container" class="centro">
<div class="card w-75">
    <div class="card-body">
<form class="row g-3" action="mailto:martiniellovincenzo45@gmail.com?subject=Richiesta informazioni per ripetizioni" method="post" enctype="text/plain">
    <div class="col-6">
        <label for="inputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputName" name="nome">
      </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputEmail4" name="mail" >
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Città</label>
      <input type="text" class="form-control" id="inputCity" name="citta">
    </div>
    <div class="col-md-4">
      <label for="inputScuola" class="form-label">Scuola</label>
      <select id="inputScuola" class="form-select" name="scuola">
        <option selected>Apri questo menu di selezione</option>
        <option value="media">Media</option>
        <option value="superiore">Superiore</option>
        <option value="universita">Università</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputTesto" class="form-label">Testo</label>
      <textarea  class="form-control" id="inputTesto" name="testo" rows="4" cols="50"></textarea>
    </div>
    <div class="col-5">
      <button type="reset" class="btn btn-danger">Cancella</button>
    </div>
    <div class="col-7">
        <button type="submit" class="btn btn-primary">Invia</button>
      </div>
</form>

  </div>
  </div>
</div>
<br>

<div class="centro">
<div class="container" class="row g-3">
<div class="col-6">
<p class="testo2">Orari di apertura:</p>
<p class="testo3">
lun: 09:00-20:00<br>
mar: 09:00-20:00<br>
mer: 09:00-20:00<br>
gio: 09:00-20:00<br>
ven: 09:00-20:00<br>
</p>
</div>

<div class="col-6">
    <p class="testo2">Indirizzo:</p>
    <p class="testo3">
        Via Ronza 54<br>
        81030 Gricignano di Aversa CE<br>
        Italia<br>
    </p>
</div>

</div>
</div>
<div class="centro">
        <p class="testo2">Contatti:</p>
</div>
<div class="centro">
        <p class="testo3">
            cellulare: 3382693408<br>
            email: martiniellovincenzo45@gmail.com<br>
            whatsapp: 3382693408<br>
        </p>
</div>