<br>
<h3>Perchè il doposcuola?</h3>
<div class="centro">
<div class="card w-75">
    <div class="card-body">
<p>Si parla spesso di doposcuola e non sempre si ha una reale idea di cosa sia e quali siano le attività che lo caratterizzano o quale sia la sua funzione nella crescita dei ragazzi.
 C'è chi lo associa al solo aiuto nello svolgimento dei compiti, chi a delle lezioni private specializzate, sì queste sono attività di doposcuola ma quello che è importante sottolineare è che il doposcuola ha uno scopo che va oltre il miglioramento del rendimento scolastico e lo svolgimento dei compiti assegnati a scuola.
 L'obiettivo è dare ai ragazzi un metodo di studio al fine di renderli autonomi nello svolgimento delle attività scolastiche; fornire loro gli strumenti per il successo negli studi fino all'università e oltre. Noi siamo qui per risolvere, rimediare, motivare e preparare i vostri figli...il nostro futuro!!!.</p>
</div>
</div>
</div>
<br>

<div class="centro">
    <div>
        <img src="assets/images/image3.jpg" class="img-fluid rounded-start" alt="..." style="width: 25rem;">
    </div>
</div>