<br>
<div class="centro">
<div class="card mb-3" style="max-width: 900px;">
  <div class="row g-0">
    <div class="col-md-4">
      <br>
      <img src="assets/images/image1.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title testo2">Didattica a distanza</h5>
        <p class="card-text">Ogni difficoltà crea opportunità.
          Scuole ed università sono chiuse ma non si sono fermate e gli studi continuano con la didattica online.
          È cambiato il modo di studiare con file da scaricare, videochiamate e scansioni via computer.
          Ci siamo fatti trovare pronti anche noi in modalità online, continuando il nostro lavoro di doposcuola e di lezioni private.
          Grazie alle videoconferenze noi non ci siamo fermati e forniamo ogni tipo di supporto per permettere a chiunque di poter partecipare alle nostre lezioni.
          
          Contattaci per info.</p>
        
      </div>
    </div>
  </div>
</div>
</div>
 